.montserrat-html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
}

.header {
  margin: 0;
  padding: 0;
}
.navbar {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px 20px;
}
.navbar a {
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
}
.navbar a:hover {
  background-color: #ddd;
  border-radius: 4px;
}
.navbar .nav-menu {
  display: flex;
}

#myCarousel,
#myCarousel-2 {
  width: 90%; /* Specify your desired width */
  height: 50%; /* Specify your desired height */
  margin: auto;
  margin-bottom: 10px;
}

.carousel-inner img {
  width: 100%; /* Ensures the image fills the entire width of the carousel container */
  height: 100%; /* Ensures the image fills the entire height of the carousel container */
  object-fit: cover; /* Ensures the image is proportionally scaled to cover the entire container */
  display: block; /* Ensures the image behaves as a block element */
  margin: auto; /* Centers the image horizontally within the container */
}

.carousel-control {
  opacity: 0%;
  align-content: center;
}

h1 {
  padding-left: 5%;
}
